doctype html
html
  head
    meta(charset='utf-8')
    title Picture Puzzle
    link(rel='stylesheet', href='/vendor/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href=isProd ? '/index.min.css' : '/index.css')
    link(rel='shortcut icon', href='/favicon.ico')
  body

    #container
      #head
        #selctionHolder
          h2 Picture Puzzle  &nbsp;
          select#difficulty
            option(value="2") Easy
            option(value="3") Difficult
            option(value="4") Hard
            option(value="5") Don't even try!

          button#start Start
      #tableHolder
        table
          tbody#puzzle
      #tableWinCover
      #footer
        p &nbsp; Sarah Jessica Leivers &copy; 2015


    script(src='/vendor/jquery/dist/jquery.min.js')
    script(src='/vendor/lodash/lodash.min.js')
    script(src=isProd ? '/index.min.js' : '/index.js')
