@import url(http://fonts.googleapis.com/css?family=Dancing+Script);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
body{
  font-family: 'Open Sans', sans-serif;
  background-color: #eddd3f;
}
#container{
  width: 600px;
  position: relative;
  margin: 0 auto;
}
#head{
  background-image: url('assets/warholSig_sm.jpg');
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
  position:absolute;
  top:0;
  left:0;
  width: 600px;
  height:420px;
  z-index:1;
}
#selctionHolder{
  position: absolute;
  top:400px;
  left:0;
  z-index:2;
  height:30px;
  text-align:right;
  width: 600px;
}
#start{ //button
  position:absolute;
  left: 170px;
  top:25px;
  z-index:4;
  font-size:1.1em;
  background-color: #c65b66;
  box-shadow: none;
  border: none;
  border-radius:3px;
}
#difficulty { // dropdown
  position: absolute;
  left:10px;
  top: 25px;
  z-index:5;
  font-size:1.1em;

  background-color: #ffffff;
}
h2{
  line-height:0.4em;
  text-align: right;
  font-size: 2.1em;
}
#tableHolder{
  position: absolute;
  top: 460px;
  left:0;
  z-index:3;
}
table{
  width:600px;
  height:600px;
}
tr{
  //display: flex;
}
td {
  // height: 198px;
  // width: 198px;
  // font-size: 0;
   background-color: #c65b66;
}

// td#2, td#4, td#6, td#8 {
//   background-image: yellow;
// }
#footer{
  position: absolute;
  top:1100px;

}
